.header {
  background-color: black;
  height: 40px;
  color: white; }
  @media only screen and (max-width: 800px) {
    .header .helpLine {
      display: none; }
    .header ul li {
      font-size: 13px; }
    .header ul {
      padding: 0;
      text-align: center; } }
  .header p {
    margin-top: 6px; }
  .header ul {
    text-align: right; }
  .header ul li {
    display: inline-block;
    padding-right: 7px;
    border-right: 1px solid #444444;
    line-height: 40px; }
    .header ul li select {
      background: transparent;
      border: none;
      font-size: 14px;
      height: 29px;
      padding: 5px;
      width: 70px;
      color: white; }
    .header ul li option {
      color: black; }

@media only screen and (min-width: 500px) {
  .phoneform {
    display: none; } }

.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 85px; }

.navbar {
  background-color: white; }
  .navbar input {
    font-family: 'FontAwesome'; }
  .navbar .inputbasket {
    border-top: none;
    background-color: #fafafa; }
  .navbar .brand {
    font-size: 34px;
    color: black;
    font-weight: 800; }
  .navbar .changecolor {
    color: #ffa687; }
  .navbar .show {
    background-color: #ededed; }
  @media only screen and (max-width: 500px) {
    .navbar .brand {
      font-size: 26px; }
    .navbar form {
      display: none; } }

#navbarSupportedContent {
  z-index: 222;
  padding: 15px; }
  #navbarSupportedContent ul {
    margin-right: 30px;
    margin-top: 15px;
    font-weight: 600;
    text-decoration: none;
    font-size: 20px; }
    #navbarSupportedContent ul a {
      color: black;
      border-radius: 8%; }
    #navbarSupportedContent ul a:hover {
      background-color: #ffa687; }

@media only screen and (max-width: 500px) {
  #carousel1 {
    display: none; } }

.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.carousel {
  margin: 0 auto;
  height: 100%;
  min-height: 100%; }

.myslides {
  min-height: 300px;
  padding: 50px;
  height: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center; }
  .myslides.sld1 {
    background-image: url("img/carousel1.png");
    background-size: cover;
    height: 75vh; }
  .myslides.sld2 {
    background-image: url("img/carousel2.png");
    height: 75vh; }
  .myslides.sld3 {
    background-image: url("img/carousel3.png");
    height: 75vh; }
  .myslides .crazy {
    font-size: 30px;
    color: #78645d;
    font-family: 'Kaushan Script', cursive;
    font-weight: 800; }
  .myslides .crazy::before,
  .myslides .crazy::after {
    display: inline-block;
    content: "";
    border-top: 0.1rem solid #78645d;
    width: 6rem;
    margin: 0 1rem;
    transform: translateY(-9px); }
  .myslides .women {
    color: #ffa6a2;
    font-size: 32px;
    font-weight: 700; }
  .myslides .crazyseason {
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    color: #ab6b55; }
    .myslides .crazyseason span {
      border-bottom: 4px solid #78645d; }
  .myslides hr {
    width: 30%;
    height: 6px;
    background-color: #78645d;
    color: #78645d;
    border: 0 none;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    text-align: left; }
  .myslides hr:nth-child(1) {
    color: red !important; }
  @media only screen and (max-width: 500px) {
    .myslides .crazy {
      display: none; }
    .myslides .crazyseason {
      font-size: 50px;
      margin-top: 30vh; }
    .myslides .women {
      font-size: 30px; } }

.grayNav {
  height: 7vh;
  background-color: #ededed; }

.input-group {
  margin-top: 15px; }
  .input-group .form-control {
    margin-left: 10px; }
  .input-group p {
    position: relative;
    top: 8px; }
  .input-group input {
    border: none; }
  .input-group button {
    border: none;
    background-color: #ffa687;
    color: white;
    font-size: 20px;
    border-bottom: 3px solid #dd6b44 !important; }
  .input-group button:hover {
    color: #dd6b44; }

.findUs {
  display: inline-flex;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }
  .findUs * {
    margin-top: 20px; }
  .findUs i {
    font-size: 30px;
    margin-left: 20px;
    color: #6b6b6b; }
  .findUs i:hover {
    color: #ffa687; }

/*Grid Images with Hoover Effect  */
.gridPics {
  margin-top: 10vh;
  min-height: 500px;
  /*Figure with Hover Effect */
  /* Anchor will cover the whole item by default */
  /* For some effects it will show as a button */ }
  .gridPics .row {
    padding: 1px; }
  .gridPics .grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    cursor: pointer; }
  .gridPics .grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8; }
  .gridPics .grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .gridPics .grid figure figcaption::before,
  .gridPics .grid figure figcaption::after {
    pointer-events: none; }
  .gridPics .grid figure figcaption,
  .gridPics .grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .gridPics .grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0; }
  .gridPics .grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300; }
  .gridPics .grid figure h2 span {
    font-weight: 800; }
  .gridPics .grid figure h2,
  .gridPics .grid figure p {
    margin: 0; }
  .gridPics .grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%; }
  .gridPics figure.effect-apollo {
    background: #ffa687; }
  .gridPics figure.effect-apollo img {
    opacity: 0.95;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1); }
  .gridPics figure.effect-apollo figcaption::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    content: '';
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0); }
  .gridPics figure.effect-apollo p {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 3em;
    padding: 0 1em;
    max-width: 150px;
    border-right: 4px solid #fff;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s; }
  .gridPics figure.effect-apollo h2 {
    text-align: left; }
  .gridPics figure.effect-apollo:hover img {
    opacity: 0.6;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  .gridPics figure.effect-apollo:hover figcaption::before {
    -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
    transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0); }
  .gridPics figure.effect-apollo:hover p {
    opacity: 1;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s; }

/*Product carousel */
/* equal card height */
.row-equal > div[class*='col-'] {
  display: flex;
  flex: 1 0 auto; }

.card {
  max-width: 220px;
  margin-left: 50px; }

/* ensure equal card height inside carousel */
.carousel-inner > .row-equal.active,
.carousel-inner > .row-equal.next,
.carousel-inner > .row-equal.prev {
  display: flex; }

/* control image height */
.card-img-top-250 {
  max-height: 250px;
  overflow: hidden; }

.carousel2 {
  background-color: #ffa687;
  padding-top: 30px;
  padding-bottom: 30px; }
  .carousel2 p {
    text-align: center; }
  .carousel2 button {
    border: none;
    background-color: #ffa687;
    color: white;
    font-size: 16px;
    border-bottom: 3px solid #dd6b44 !important; }
    .carousel2 button span {
      font-weight: 800; }
  .carousel2 button:hover {
    color: #dd6b44; }

.carouselBtns a {
  border: none;
  font-size: 24px;
  border-radius: 0 !important; }

.carouselBtns a:hover {
  background-color: #ffa687;
  color: white; }

/*Clearance section */
.clearanceSection {
  margin-top: 5vh; }
  .clearanceSection .clearance::before,
  .clearanceSection .clearance::after {
    display: inline-block;
    content: "";
    border-top: 1px solid #78645d;
    width: 30vh;
    margin: 0 1rem;
    transform: translateY(-9px); }
  .clearanceSection .card {
    max-width: 220px;
    margin-left: 50px; }
  .clearanceSection button {
    border: none;
    background-color: #ffa687;
    color: white;
    font-size: 16px;
    border-bottom: 3px solid #dd6b44 !important; }
    .clearanceSection button span {
      font-weight: 800; }
  .clearanceSection button:hover {
    color: #dd6b44; }

/*Brands */
.brands {
  margin-top: 5vh;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  padding-bottom: 15px; }
  @media only screen and (max-width: 500px) {
    .brands {
      width: 90%; } }
  .brands .title {
    position: relative;
    bottom: 14px;
    background-color: white;
    width: fit-content;
    left: 45%; }

/*About */
.about {
  margin-top: 7vh; }

/*payment */
.payment {
  background-color: #f7f7f7;
  padding-top: 15px;
  text-align: center; }
  .payment img {
    width: 60px; }

/*Footer */
.full {
  width: 100%; }

.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block; }

.footer {
  background: #ededed;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD; }

.footer p {
  margin: 0; }

.footer img {
  max-width: 100%; }

.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase; }

.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D; }

.footer ul li a {
  padding: 0 0 5px 0;
  display: block; }

.footer a {
  color: #78828D; }

.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0; }

.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%; }

.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff; }

.newsletter-box {
  overflow: hidden; }
  .newsletter-box button {
    border: none;
    background-color: #ffa687;
    color: white;
    font-size: 16px;
    border-bottom: 3px solid #dd6b44 !important; }
    .newsletter-box button span {
      font-weight: 800; }
  .newsletter-box button:hover {
    color: #dd6b44; }

.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3; }

.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s; }

.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg); }

.social li a {
  color: #EDEFF1; }

.social li:hover {
  border: 2px solid #ffa687;
  background: #ffa687; }

.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important; }

.footer-bottom {
  background-color: black;
  border-top: 1px solid #DDDDDD;
  height: 50px;
  color: white; }

.footer-bottom p.pull-left {
  padding-top: 6px; }
