$primary-color: #ffa687;
$color: #fff;


//First Black Nav
.header {
  p{
    margin-top: 6px;
  }
  background-color: black;
  height: 40px;
  color:white;
    ul li {
          display:inline-block;
      float: right;
      padding: 7px;
      border-right: 1px solid #444444;
      select {
        background: transparent;
       border: none;
       font-size: 14px;
       height: 29px;
       padding: 5px;
       width: 70px;
       color:white;
      }
    }
    ul li:last-of-type {
      border-left: 1px solid #444444;
      padding:5px;
 }
}

//Navbar

.navbar{
  background-color: white;
  height:150px;
  input { font-family: 'FontAwesome'; }
    .inputbasket {
      border-top: none;
      background-color: #fafafa
    }
    #navbarSupportedContent {
      ul {
        margin-right: 30px;
        margin-top: 15px;
        text-decoration: none;
        a{color:black !important;};
        font-size:20px;

      }

    }
    .brand {
      font-size: 34px;
      color: black;
      font-weight:800;
    }
    .changecolor {
      color: $primary-color;
    }
}
