$primary-color: #ffa687;
$secondary-color: #78645d;


//First Black Nav
.header {
  p{
    margin-top: 6px;
  }
  background-color: black;
  height: 40px;
  color:white;
    ul li {
          display:inline-block;
      float: right;
      padding: 7px;
      border-right: 1px solid #444444;
      select {
        background: transparent;
       border: none;
       font-size: 14px;
       height: 29px;
       padding: 5px;
       width: 70px;
       color:white;
      }
    }
    ul li:last-of-type {
      border-left: 1px solid #444444;
      padding:5px;
 }
}

//Navbar

.navbar{
  background-color: white;
  height:150px;
  input { font-family: 'FontAwesome'; }
    .inputbasket {
      border-top: none;
      background-color: #fafafa
    }
    #navbarSupportedContent {
      ul {
        margin-right: 30px;
        margin-top: 15px;
        text-decoration: none;
        a{color:black !important;};
        font-size:20px;

      }

    }
    .brand {
      font-size: 34px;
      color: black;
      font-weight:800;
    }
    .changecolor {
      color: $primary-color;
    }
}

//Carousel
.carousel {
  margin:0 auto;
  height: 100%;
  min-height: 100%;

}

.myslides{
  min-height: 300px;
  padding: 50px;
  height: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  &.sld1 {
   background-image: url("img/carousel1.gif");
   height: 75vh;
 }
   &.sld2 {
     background-image: url('img/carousel2.gif');
      height: 75vh;
   }
   &.sld3 {
     background-image: url('img/carousel3.gif');
      height: 75vh;
   }
   .crazy{
     font-size:30px;
     color:$secondary-color;
     font-family: 'Kaushan Script', cursive;
   }
   .crazy::before,
   .crazy::after{
     display: inline-block;
    content: "";
    border-top: .1rem solid $secondary-color;
    width: 6rem;
    margin: 0 1rem;
    transform: translateY(-9px);

   }
   .crazyseason{
        font-family: 'Anton', sans-serif;
        font-size: 100px;
       color:#ab6b55;

      }
    hr{
      width: 30%;
      height: 6px;
      background-color:$secondary-color;
      color:$secondary-color;
      border: 0 none;
      margin-top: 5px;
      margin-bottom:5px;
      float:left;
      text-align: left;
    };
    hr:nth-child(1){
      color: red !important;
    }
}

.grayNav{
  height:7vh;
  background-color: #ededed;

}

.input-group{
  margin-top: 15px;
  .form-control{
    margin-left: 10px;
  }
  p{
    position: relative;
    top: 8px;
  }
  input{
    border: none;
  }
  button{
    border:none;
    background-color: $primary-color;
    color:white;
    font-size:20px;
    border-bottom: 3px solid #dd6b44 !important;
  }
  button:hover{
    color: #dd6b44;

  }
}

.findUs{
  display: inline-flex;
  flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;

   *{
     margin-top: 20px;
   }
   i{
     font-size: 30px;
     margin-left: 20px;
     color:#6b6b6b
   }

}

/*  */
.placeholder{
  margin-top:10vh;
  min-height: 500px;

  .first{

    background-image:url('http://via.placeholder.com/480x340') ;
    width:480px;
    height:343px;


  }
  .second{
    background-image: url("http://via.placeholder.com/480x170");
    width:480px;
    height:170px;
  }
  .third{
    background-image: url("http://via.placeholder.com/240x170");
    width:240px;
    height:170px;
  }
  .forth{
    background-image: url("http://via.placeholder.com/240x170");
    width:240px;
    height:170px;
  }
  .row{
    padding:1px;
  }
}

/* */

/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

 .card {
   max-width: 220px;
   margin-left: 50px;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
    display: flex;
}




/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}

.carousel2 {
  background-color: $primary-color;
  padding-top: 30px;
  padding-bottom: 30px;
  p{
    text-align: center;
  }
  button{
    border:none;
    background-color: $primary-color;
    color:white;
    font-size:16px;
    border-bottom: 3px solid #dd6b44 !important;
    span{

      font-weight: 800;

    }
  }
  button:hover{
    color: #dd6b44;

  }
}


.carouselBtns {
  a{
    border:none;
    font-size: 24px;
    border-radius: 0 !important;
  }
  a:hover{
    background-color:$primary-color;
    color:white;
  };

}

.clearanceSection{
  margin-top: 5vh;

  .clearance::before,
  .clearance::after{
    display: inline-block;
   content: "";
   border-top: 1px solid $secondary-color;
   width: 30vh;
   margin: 0 1rem;
   transform: translateY(-9px);
   }

   .card {
     max-width: 220px;
     margin-left: 50px;
  }
  button{
    border:none;
    background-color: $primary-color;
    color:white;
    font-size:16px;
    border-bottom: 3px solid #dd6b44 !important;
    span{

      font-weight: 800;

    }
  }
  button:hover{
    color: #dd6b44;

  }
 }
.brands{
  margin-top: 5vh;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  padding-bottom: 15px;
  .title{
    position: relative;
    bottom: 14px;
    background-color: white;
    width: fit-content;
    left: 45%;
  }
}

.about{
  margin-top: 10vh;
}
