$primary-color: #ffa687;
$secondary-color: #78645d;


//Header
header {

  p{
    margin-top: 6px;
  }
  background-color: black;
  height: 40px;
  color:white;
    ul{
        float:right;
        line-height: 0.2px;
    }

    ul.accountBar > li:nth-child(2),ul.accountBar > li:nth-child(3) {
     display:inline-block;
     font-size:13px;
     cursor:pointer;
     border-right: 1px solid #444444;
     line-height:40px;
     margin-right: 9px;
     padding-right: 15px;


   }
   ul.accountBar > li:nth-child(2){
     border-left: 1px solid #444444;
     margin-left: 9px;
     padding-left: 15px;
     letter-spacing: 1px;
   }
   ul.accountBar > li:nth-child(2) img {
     padding-right: 9px;
   }



} /************ End Header ********** */

//Navbar #####################################################################


.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height:85px;
}

.navbar{
  background-color: white;


  input { font-family: 'FontAwesome'; }
    .inputbasket {
      border-top: none;
      background-color: #fafafa
    }

    .brand {
      font-size: 34px;
      color: black;
      font-weight:800;
    }
    .changecolor {
      color: $primary-color;
    }
    .show {
      background-color: #ededed;
    }
      @media only screen and (max-width: 500px) {
      .brand {
          font-size:26px;
      }
      form{
        display:none;
      }
  }
}

#navbarSupportedContent {
  z-index: 222;
  padding: 15px;
  ul {
    margin-right: 30px;
    margin-top: 15px;
    font-weight: 600;
    text-decoration: none;
        a {
          transition: 0.3s ease;
           background: rgba(255, 255, 255, 0);
           color: black;
           font-size: 20px;
           text-decoration: none;
           border-top: 4px solid rgba(255, 255, 255, 0);
           border-bottom: 4px solid rgba(255, 255, 255, 0);
           padding: 20px 0;
           margin: 0 20px;
      }
      a:hover {

        border-bottom: 4px solid $primary-color;
        padding: 6px 0;
      }

  }


}



//First Carousel

.no-padding{
  padding-left: 0!important;
  padding-right: 0!important;
}
.carousel {
  margin:0 auto;
  height: 100%;
  min-height: 100%;

}

.myslides{
  min-height: 300px;
  padding: 50px;
  height: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;

  button{
    border:none;
    background-color: $primary-color;
    color:white;
    font-size:16px;
    border-bottom: 3px solid #dd6b44 !important;
    cursor: pointer;
    width:260px;
    margin-top: 80px;
   font-weight: 600;

    }
  button:hover{
    color: #dd6b44;

  }
  &.sld1 {
   background-image:linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), url("img/carousel1.png");
   background-size: cover;
   height: 75vh;

 }
   &.sld2 {
     background-image:linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.1)), url('img/carousel2.png');
      height: 75vh;
   }
   &.sld3 {
     background-image:linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), url('img/carousel3.png');
      height: 75vh;
   }


   .crazyseason{
        font-family: 'Brandon_bld_0', sans-serif;
        font-size: 30px;
        color: #FEFEFD;
        font-weight: 600;

      }
      .callToAction{
        margin: 0 auto;
        padding-top: 22vh;
        h3{
          color: #ffffff;
          font-size: 60px;
          font-weight: 800;
          letter-spacing: 6px;
        }

      }



}




//Gray Navbar

.grayNav{
  height:7vh;
  background-color: #ededed;

}

.input-group{
  margin-top: 15px;
  .form-control{
    margin-left: 10px;
  }
  p{
    position: relative;
    top: 8px;
  }
  input{
    border: none;
  }
  button{
    border:none;
    background-color: $primary-color;
    color:white;
    font-size:20px;
    border-bottom: 3px solid #dd6b44 !important;
  }
  button:hover{
    color: #dd6b44;
    cursor: pointer;

  }
}

.findUs{
  display: inline-flex;
  flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;

   *{
     margin-top: 20px;
     cursor: pointer;
   }
   i{
     font-size: 30px;
     margin-left: 20px;
     color:#6b6b6b
   }
   i:hover{color: $primary-color};

}


/*Grid Images with Hoover Effect  */
@media only screen and (min-width: 400px) {

}
.gridPics{

  margin-top:10vh;
  min-height: 500px;
  .row {
    padding:1px;
  }

  /*Figure with Hover Effect */

  .grid figure {
  	position: relative;
  	float: left;
  	overflow: hidden;
  	min-width: 100%;
  	min-height: 100%;
  	text-align: center;
  	cursor: pointer;
  }



  .grid figure img {
  	position: relative;
  	display: block;
  	min-height: 100%;
  	max-width: 100%;
  	opacity: 0.8;
  }

  .grid figure figcaption {
  	padding: 2em;
  	color: #fff;
  	text-transform: uppercase;
  	font-size: 1.25em;
  	-webkit-backface-visibility: hidden;
  	backface-visibility: hidden;
  }

  .grid figure figcaption::before,
  .grid figure figcaption::after {
  	pointer-events: none;
  }

  .grid figure figcaption,
  .grid figure figcaption > a {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  }

  /* Anchor will cover the whole item by default */
  /* For some effects it will show as a button */
  .grid figure figcaption > a {
  	z-index: 1000;
  	text-indent: 200%;
  	white-space: nowrap;
  	font-size: 0;
  	opacity: 0;
  }

  .grid figure h2 {
  	word-spacing: -0.15em;
  	font-weight: 300;
  }

  .grid figure h2 span {
  	font-weight: 800;
  }

  .grid figure h2,
  .grid figure p {
  	margin: 0;
  }

  .grid figure p {
  	letter-spacing: 1px;
  	font-size: 68.5%;
  }

  figure.effect-apollo {
  	background: $primary-color;
  }

  figure.effect-apollo img {
  	opacity: 0.95;
  	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  	transition: opacity 0.35s, transform 0.35s;
  	-webkit-transform: scale3d(1.05,1.05,1);
  	transform: scale3d(1.05,1.05,1);
  }

  figure.effect-apollo figcaption::before {
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
  	background: rgba(255,255,255,0.5);
  	content: '';
  	-webkit-transition: -webkit-transform 0.6s;
  	transition: transform 0.6s;
  	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
  	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
  }

  figure.effect-apollo p {
  	position: absolute;
  	right: 0;
  	bottom: 0;
  	margin: 3em;
  	padding: 0 1em;
  	max-width: 150px;
  	border-right: 4px solid #fff;
  	text-align: right;
  	opacity: 0;
  	-webkit-transition: opacity 0.35s;
  	transition: opacity 0.35s;
  }

  figure.effect-apollo h2 {
  	text-align: left;
  }

  figure.effect-apollo:hover img {
  	opacity: 0.6;
  	-webkit-transform: scale3d(1,1,1);
  	transform: scale3d(1,1,1);
  }

  figure.effect-apollo:hover figcaption::before {
  	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
  	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
  }

  figure.effect-apollo:hover p {
  	opacity: 1;
  	-webkit-transition-delay: 0.1s;
  	transition-delay: 0.1s;
  }

}

/*Product carousel */

/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

 .card {
   width: 200px !important;
   margin-left: 50px;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
    display: flex;
}




/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}

.carousel2 {
  .card-block{
    text-align: center;
  }
  height: 500px;
  background-color: $primary-color;
  padding-top: 30px;
  padding-bottom: 30px;
  p{
    text-align: center;
  }
  button{
    border:none;
    background-color: $primary-color;
    color:white;
    font-size:16px;
    border-bottom: 3px solid #dd6b44 !important;
    span{

      font-weight: 800;

    }
  }
  button:hover{
    color: #dd6b44;

  }
}


.carouselBtns {
  a{
    border:none;
    font-size: 24px;
    border-radius: 0 !important;
    cursor : pointer;
  }


  a:hover{
    background-color:$primary-color;
    color:white;
  };

}

.shopAction {
  position: absolute;
  z-index: 9999;
  bottom: 228px;
  left: 30px;
  background-color:rgba(255, 255, 255, 0) !important;
}

/*Clearance section */

.clearanceSection{
  margin-top: 5vh;

  .clearance::before,
  .clearance::after{
    display: inline-block;
   content: "";
   border-top: 1px solid $secondary-color;
   width: 30vh;
   margin: 0 1rem;
   transform: translateY(-9px);
   }

   .card {
     max-width: 220px;
     margin-left: 50px;
  }
  button{
    border:none;
    background-color: $primary-color;
    color:white;
    font-size:16px;
    border-bottom: 3px solid #dd6b44 !important;
    span{

      font-weight: 800;

    }
  }
  button:hover{
    color: #dd6b44;

  }

 }

   /*Brands */


.brands{
  margin-top: 5vh;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
  padding-bottom: 15px;
  @media only screen and (max-width: 500px) {
    width: 90%;
  }

  .title{
    position: relative;
    bottom: 14px;
    background-color: white;
    width: fit-content;
    left: 45%;
  }
}

/*About */

.about{
  margin-top: 7vh;
}

/*payment */

.payment {
  background-color: #f7f7f7;
  padding-top: 15px;
  img{
    width: 60px;
  }
  text-align: center;
}



/*Footer */

.full {
    width: 100%;
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	background: #ededed;
	height: auto;
	padding-bottom: 30px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	border-bottom: 1px solid #BAC1C8;
	color: #54697E;
	font-size: 18px;
	font-weight: 600;
	line-height: 27px;
	padding: 40px 0 10px;
	text-transform: uppercase;
}
.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 15px;
	color: #7F8C8D;
}
.footer ul li a {
	padding: 0 0 5px 0;
	display: block;
}
.footer a {
	color: #78828D
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
	background: #FFFFFF;
	display: inline-block;
	float: left;
	height: 30px;
	clear: both;
	width: 100%;
}
.newsletter-box .btn {
	border: medium none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	height: 40px;
	padding: 0;
	width: 100%;
	color: #fff;
}
.newsletter-box {
	overflow: hidden;
  button{
    border:none;
    background-color: $primary-color;
    color:white;
    font-size:16px;
    border-bottom: 3px solid #dd6b44 !important;
    span{

      font-weight: 800;

    }
  }
  button:hover{
    color: #dd6b44;

  }
}
.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
	background: none repeat scroll 0 0 #B5B5B5;
	border: 2px solid #B5B5B5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	float: left;
	height: 36px;
	line-height: 36px;
	margin: 0 8px 0 0;
	padding: 0;
	text-align: center;
	width: 36px;
	transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}
.social li:hover {
	transform: scale(1.15) rotate(360deg);
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
}
.social li a {
	color: #EDEFF1;
}
.social li:hover {
	border: 2px solid $primary-color;
	background: $primary-color;
}
.social li a i {
	font-size: 16px;
	margin: 0 0 0 5px;
	color: #EDEFF1 !important;
}
.footer-bottom {
	background-color: black;
	border-top: 1px solid #DDDDDD;
	height: 50px;
  color:white;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
}



.overlay {
  position:absolute;
  width: 48px;
  height: 48px;
  z-index: 100;
  background: transparent url('overlay_image.png') no-repeat;
  cursor: pointer;
}

// Products navbar

#productsNavbar{
  border-top: 1px solid #8f8f8f;
  border-bottom: 1px solid #8f8f8f;
  width: 100%;
  padding-top: 10px;
  ul{
    padding-left: 0;
  }

  ul li{
    display: inline-block;
    color: #8f8f8f;
    font-size:20px;
    margin-right: 7px;
  }
    li::before {
   content: '>  ';
  }
  ul > li:nth-child(1)::before{
    content: " ";
  }
}

//Products images
#productImages {
  ul{
    padding:0;
    margin-top: 5px;
  }
  ul li {
    display:inline-block;
    margin-right: 5px;
  }

}
.productRow{
  margin-top:40px;
}

//Product productDescription
#productDescription{
  .backButton{
  border-bottom: 1px solid #8f8f8f;
  margin-top: 32px;
  padding-bottom: 10px;
}
  .backButton p {
    display: inline-block;
    color: #8f8f8f;
    font-size: 20px;
    .highlight{
      color: $primary-color;
      font-weight: 600;
    }
  }
  img{
    margin-bottom: 5px;
    margin-right: 10px;
  }
  .descriptionProduct{
    border-bottom: 1px solid #8f8f8f;
  }
  .descriptionProduct h3{
    margin-top: 35px;
  }
  .descriptionProduct span{
    color: $primary-color;
    font-size: 40px;
  }
  .descriptionProduct p {
    margin-top: 20px;
  }
  .pickupColors{
    text-align: right;
  }

  .pickupColors ul li{
    display: inline-block;

    height:40px;
    width:40px;
    margin-right:7px;
  }
  .pickupColors > ul > li:nth-child(1){
    background-color: #efebe2;
  }
  .pickupColors > ul > li:nth-child(2){
    background-color: #c9c1c6;
  }
  .pickupColors > ul > li:nth-child(3){
    background-color: #b29b88;
  }
  .pickupColors > ul > li:nth-child(4){
    background-color: #968886;
  }
  .pickupColors > ul > li:nth-child(5){
    background-color: #cde0ef;
  }

  .dropdown-sizes-div{
    margin-top:10px;
  }

  #product-buttons >*{
    display: inline-block;
    font-size:16px;

  }
  #product-buttons{
    width: 100%;
    border-top: 1px solid #8f8f8f;
    margin-top: -8px;
    padding-top: 27px;
    .amount {
      width:40px;
      height: 39px;
      background-color: #feb298;
      margin-right:-4px;
      margin-right: -5px;
      margin-left: -5px;
      color: white;
      text-align: center;
      padding-top: 5px;
    }
    button{
      border:none;
      border-radius: 0;
      background-color: $primary-color;
      color:white;
      font-size:16px;
      border-bottom: 3px solid #dd6b44 !important;
      margin-top: -6px
      span{

        font-weight: 800;

      }
    }
    button:hover{
      color: #dd6b44;

    }
  }
}

#socialMediaIcons {
  height: 100px;
  border-top:1px solid #8f8f8f;
  border-bottom: 1px solid #8f8f8f;
  margin-top:30px;
  ul{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 10px;
  }
  ul li {
      list-style: none;
      margin-top: 13px
  }
  p{
        margin-top: 22px;
  }
  a{
    color: #B5B5B5;
    font-size: 36px;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 70px;
    line-height: 70px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 70px;
    text-decoration: none;

  }
  a:hover {
    color: $primary-color;
    border-color: $primary-color;
  }

}


//Accordion
#accordion {
  margin-top: 50px;
  h3{
    color :#fff;
    margin:0;
    border:none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    padding-top: 21px;
    height: 60px;
  }
  .ui-icon, .ui-widget-content .ui-icon {
    background-image: url('img/accordion-arrow.png') !important;
    margin-right: 10px;
  }
  .ui-icon-triangle-1-e {
    background-position: -4px -3px;
  }
  .color1{
     background:#ffd5c6;
  }
  .color2{
   background:#ffcab8;
  }
  .color3{
     background:#ffae92;
  }
  .color4{
   background:#ffa687;
  }
  .color5{
   background:#fd926d;
  }


}


//Related products

.relatedProductsHeader{
  text-align:center;
  margin: 50px 0 50px 0;
}
#relatedProducts{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 10px;
  margin-bottom: 50px;
  button{
    border:none;
    border-radius: 0;
    background-color: $primary-color;
    color:white;
    font-size:16px;
    border-bottom: 3px solid #dd6b44 !important;
    margin-top: -6px
    span{

      font-weight: 800;

    }
  }
  button:hover{
    color: #dd6b44;

  }

}



//Products carousel

#productsCarousel{
  width: 100%;
  h4{
        margin-top: 70px;
  }
  .price {
    color: $primary-color;
    font-weight: 700;
    font-size: 40px;
  }

  .btn{
    border:none;
    border-radius: 0;
    background-color: $primary-color;
    color:white;
    font-size:16px;
    border-bottom: 3px solid #dd6b44 !important;
    margin-top: -6px

  }
  .btn:hover{
    color: #dd6b44;

  }
  .slick-prev {
    left: -35px;
  }
  .slick-next {
    right: -15px;
  }
}

// products Dissplay


//1.Left-content
#leftContent{

  margin-top:30px;
  padding-bottom: 20px;
  .productsSort *{
      display: inline-block;

    }
    .productsSort {
      border-bottom: 1px solid #F4F4F4;
      margin-bottom:10px;
      p{
        margin-right:10px
      }
      .wrapper-dropdown-3 {
        position: relative;
        width: 140px;
        height: 40px;
        padding: 10px;
        line-height: 1;
        background: #f4f4f4;
        color: #262626;

        border: 1px solid rgba(0, 0, 0, 0.15);

        cursor: pointer;
        outline: none;
        z-index: 999;
    }
    .wrapper-dropdown-3:after {
      border-color: #262626 transparent;
    }

  }

  .productsPagination * {
    display: inline-block;
  }
  .productsPagination{
    padding-right: 0;
    text-align: right;
    span {
      width:30px;
      height:30px;
      background-color: #f7f7f7;
      padding-right: 11px;
      padding-top: 3px;
    }
    span:nth-child(2){
      background-color: #e5e5e5;
    }
  }


  .productsDisplayed * {
    display: inline-block;

  }
  .productsDisplayed{
    margin-top:20px;
  .card{
    margin-bottom: 20px;
    background: #f9f5f4;
    border: none;
  }
  .btn{
    border:none;
    border-radius: 0;
    background-color: $primary-color;
    color:white;
    font-size:16px;
    border-bottom: 3px solid #dd6b44 !important;
    margin-top: -6px

  }
  .btn:hover{
    color: #dd6b44;

  }

 }


}


//2.Right content

#rightContent{
  .title {
    text-align: center;
    background-color: black;
    font-size: 20px;
    height: 30px;
    color: #fff;

    margin-top: 30px;
  }
  .color {
    background-color: #fff;
    color: black;
    border: none;
    background: none;
    span{
      float:right;
    }

  }

  .sliderPrice{
    margin-top: 20px;

  }

  .sizeSelect{
    margin-top:10px;

    ul li{
      display:inline-block;
    }
    ul{
      padding-left:0;
    }
    li{
      width:30px;
      height:30px;
      background-color:#f4f4f4;
      padding-left: 9px;
      padding-top: 2px;

    }
    .selected {
      background-color: $primary-color;
    }
  }

  .promotionRight{
    ul{
      list-style-type: none;
      padding-left:0;
    }
    ul li {
      margin-bottom:7px;
      border-bottom: 2px solid #F4F4F4;
      padding-bottom:7px;
      float:left;
      width:100%
    }
    img{
      float:left;
      margin-right: 10px;
    }
    .price{
      color: $primary-color;
      font-weight:600;
    }

  }

}

// Dropdowns Style

#dropdownSize{
  width: 250px;
background-color: #f3f3f3;
color: black;

float:left;

}
#dropdownSize:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -3px;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: black transparent; }

.wrapper-dropdown-3 {
     /* Size and position */
     position: relative;
     width: 87px;
     height:40px;
     padding: 10px;
     line-height: 1;

     /* Styles */
     background: #000;
     color:#fff;
     border-radius: 7px;
     border: 1px solid rgba(0,0,0,0.15);
     box-shadow: 0 1px 1px rgba(50,50,50,0.1);
     cursor: pointer;
     outline: none;

     /* Font settings */

     z-index:999;
 }

 .wrapper-dropdown-3:after {
     content: "";
     width: 0;
     height: 0;
     position: absolute;
     right: 15px;
     top: 50%;
     margin-top: -3px;
     border-width: 6px 6px 0 6px;
     border-style: solid;
     border-color: #fff transparent;

 }

.wrapper-dropdown-3 .dropdown {
   /* Size & position */
     position: absolute;
     top: 140%;
     left: 0;
     right: 0;
     padding: 0;

     /* Styles */
     background: white;
     border-radius: inherit;
     border: 1px solid rgba(0,0,0,0.17);
     box-shadow: 0 0 5px rgba(0,0,0,0.1);
     font-weight: normal;
     -webkit-transition: all 0.5s ease-in;
     -moz-transition: all 0.5s ease-in;
     -ms-transition: all 0.5s ease-in;
     -o-transition: all 0.5s ease-in;
     transition: all 0.5s ease-in;
     list-style: none;

     /* Hiding */
     opacity: 0;
     pointer-events: none;
 }

 .wrapper-dropdown-3 .dropdown:after {
     content: "";
     width: 0;
     height: 0;
     position: absolute;
     bottom: 100%;
     right: 15px;
     border-width: 0 6px 6px 6px;
     border-style: solid;
     border-color: #fff transparent;
 }

 .wrapper-dropdown-3 .dropdown:before {
     content: "";
     width: 0;
     height: 0;
     position: absolute;
     bottom: 100%;
     right: 13px;
     border-width: 0 8px 8px 8px;
     border-style: solid;
     border-color: rgba(0,0,0,0.1) transparent;
 }

 .wrapper-dropdown-3 .dropdown li a {
     display: block;
     padding: 17px;
     text-decoration: none;
     color: #8aa8bd;
     border-bottom: 1px solid #e6e8ea;
     box-shadow: inset 0 1px 0 rgba(255,255,255,1);
     -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
     -ms-transition: all 0.3s ease-out;
     -o-transition: all 0.3s ease-out;
     transition: all 0.3s ease-out;
 }

.wrapper-dropdown-3 .dropdown li i {
     float: right;
     color: inherit;
 }

.wrapper-dropdown-3 .dropdown li:first-of-type a {
     border-radius: 7px 7px 0 0;
 }

 .wrapper-dropdown-3 .dropdown li:last-of-type a {
     border: none;
     border-radius: 0 0 7px 7px;
 }

 /* Hover state */

 .wrapper-dropdown-3 .dropdown li:hover a {
     background: #f3f8f8;
 }

 /* Active state */

 .wrapper-dropdown-3.active .dropdown {
     opacity: 1;
     pointer-events: auto;
 }
